<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <form action="/product" method="post">
        <p>Item Name: <input type="text" name="itemname"></p>
        <p>Item Price: <input type="text" name="itemprice"></p>
        <p>Item Quantity: <input type="text" name="itemqty"></p>
        <p>Total Price: <input type="text" name="totalprice"></p>
        <button>Submit</button>
    </form>

</body>

</html>